body {
    background: #62CDFF;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .container {
    margin: 0 auto;
    max-width: 600px;
    text-align: center;
  }
  
  h1 {
    font-size: 3em;
    margin-top: 40px;
    color: #fff;
  }
  
  .form {
    margin-top: 50px;
  }
  
  .file-label {
    display: inline-block;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: #fff;
    color: #333;
    font-weight: bold;
    cursor: pointer;
  }

  #loadExcel {
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #fff;
    color: #333;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  #loadExcel:hover {
    background-color: #87ceeb;
    color: #fff;
  }

  #fileCount {
    font-size: 14px;
    font-weight: bold;
    margin-left: 10px;
  }

  table {
    border-collapse: collapse;
    width: 100%;
}
th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}
th {
    background-color: #eee;
}
.file-card {
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 16px 0;
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.file-name {
    font-size: 1.2rem;
    font-weight: bold;
    margin-right: 16px;
}

.file-download {
    margin: 0.5rem;
    background-color: #AA77FF;
    color: #ECF2FF;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    padding: 8px 16px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}
.file-download:hover {
    background-color: #0d8bf5;
}